-# This file is in app/views/movies/index.html.haml
%h1 All Movies

%table#movies
	%thead
		%tr
			%th Title (click for more)
			%th Rating
			%th Release Date
			%th Details & Reviews
	%tbody
		=render :partial=>'movie', :collection=>@movies
= link_to "Add new movie" , new_movie_path			
