-# This file is in app/views/movies/new.html.haml
%h2 Create New Movie

= form_tag moviegoers_path, :method => :post do

	= render :partial => 'moviegoer_form'
	
	= submit_tag 'Save Changes'
	
-#= link_to "Back to movie list", moviegoers_path


